<div class="content-box">

  <%= form_with url: "/episodes/#{@episode.id}", method: :patch, local: true do |form|%>

    <h1><%= form.label "Update Episode, #{@episode.title}"%></h1>

    <p>Title: <%= form.text_field :title %></p>

    <p id="marked_explicit">Check if episode is explicit: <%= form.check_box :marked_explicit, {},"true","false"%></p>

    <p>Length in Seconds: <%= form.number_field :length_in_seconds%></p>

    <p><%= form.submit "Update Episode",class: 'submit-button'%></p>

  <% end %>

</div>