<div class="content-options-container">

  <div class ="content-options-title">
    <h1> Episodes Index </h1>
  </div>

</div>

<div id="episode-index-box">
  <% @episodes.each_with_index do |episode,index| %>

    <div class="content-box">

      <div id="episode-<%=index+1%>">

        <p class = "content-title"><%= episode.title %> </p>

        <p> <%= episode.time_format%> </p>

        <p>Marked explicit: <%= episode.marked_explicit%> </p>

        <span><%= link_to "Edit", "/episodes/#{episode.id}/edit", class: 'edit-button'%></span>
        <span><%= link_to "Delete","/episodes/#{episode.id}/delete",class:"delete-button"%></span>

      </div>

    </div>

  <% end %>
</div>