<div class="content-box">

  <%= form_with url: "/podcasts/#{@podcast.id}", method: :patch, local: true do |form|%>

    <h1><%= form.label "Update #{@podcast.name}" %></h1>

    <p>Name: <%= form.text_field :name%></p>

    <p id="in_production">Check if currently in production:<%= form.check_box :in_production, {},"true","false"%></p>

    <p>Advertisement Cost: <%= form.number_field :ad_slot_cost%></p>

    <p><%= form.submit "Submit", class: 'submit-button'%></p>

  <% end %>

</div>