<h1><%= @podcast.name%></h1>
<p><%= link_to "Create Episode","/podcasts/#{@podcast.id}/episodes/new"%>
<% @episodes.each do |episode|%>
<h2>Title: <%= episode.title%> </h2>
<p>Length in Seconds: <%= episode.length_in_seconds%>
<p>Explicit: <%= episode.marked_explicit%>
<% end %>