<div class="content-options">

  <div class="content-options-title">
    <h1> Podcasts Index </h1>
  </div>

  <div class="content-options-links">
    <%= link_to "Create new podcast", "/podcasts/new", class: 'create-button'%>
  </div>

</div>

<div id="podcast-index-box">
<% @podcasts.each_with_index do |podcast, index| %>
  <div class="content-box">

    <div id="podcast-<%=index+1%>">

      <p class = "content-title"> <%= podcast.name %></p> 

      <span id="edit-podcast-<%=podcast.id%>"><%= link_to "Edit", "/podcasts/#{podcast.id}/edit", class: 'edit-button'%> 
      </span>

      <p>Created at: <%= podcast.created_at %></p>
      <p>Updated at: <%= podcast.updated_at %></p>

    </div>

  </div>
<% end %>
</div>