<div class="content-options-container">

  <div class="content-options-title">
    <h1> Podcasts Index </h1>
  </div>

  <div class="content-option">
    <%= form_with url: "/podcasts?exact_match_search=", method: :get, local: true do |form|%>

      Exact Match Search Term: <%= form.text_field :exact_match_search%>

      <br></br>

      <%= form.submit "Exact Title Search",class: "sort-button"%>

    <% end %>
  </div>

  <div class="content-options">
    <div class="content-option">
      <%= link_to "Create new podcast", "/podcasts/new", class: 'create-button'%>
    </div>

     <div class="content-option">
        <%= link_to "Sort by Number of Episodes", "/podcasts?sort=episode_count",class: "sort-button"%>
      </div>
  </div>

    
  </div>

</div>

<div id="podcast-index-box">
<% @podcasts.each_with_index do |podcast, index| %>
  <div class="content-box">

    <div id="podcast-<%=index+1%>">

      <p class ="content-title"> <%= podcast.name %></p> 

      <p id ="podcast-<%=index+1%>-episode-count">Episode Count:
      <%= podcast.episodes.size%>
      </p>

      <p>Created on: <%= podcast.created_date_format %></p>
      <p>Updated on: <%= podcast.updated_date_format %></p>

      <span class="podcast-details-link">
      <%= link_to "Details","/podcasts/#{podcast.id}", class: "details-button"%>
      </span>
      
      <span id="edit-podcast-<%=podcast.id%>"><%= link_to "Edit", "/podcasts/#{podcast.id}/edit", class: 'edit-button'%> 
      </span>

      <span class="podcast-details-link">
        <%= link_to "Delete","/podcasts/#{podcast.id}/delete",class: "delete-button"%>
      </span>

    </div>

  </div>
<% end %>
</div>