<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="page-banner">
      <div id="page-title">
        Title
      </div>
      <div id="index-link-group">
        <div class="banner-link">
          <%= link_to "Podcasts", "/podcasts"%>
        </div>
        <div class="banner-link">
          <%= link_to "Episodes", "/episodes"%>
        </div>
      </div>
    </div>

    <div id="main-content">
      <%= yield %>
    </div>

  </body>
</html>
