<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="page-banner">
      <div id="page-title">
        Podcast/Episode Database
      </div>
      <div id="banner-link-group">
        <%= link_to "Podcasts", "/podcasts", class: 'banner-link'%>
        <%= link_to "Episodes", "/episodes", class: 'banner-link'%>
      </div>
    </div>

    <% flash.each do |type, msg| %>
      <div class="flash-notice">
        <%= msg %>
      </div>
    <% end %>

    <div id="main-content">
      <%= yield %>
    </div>

  </body>
</html>
